html {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(45, 45, 45);
    color: rgba(255, 255, 255, 0.900);
}

header {
    text-align: center;
}

button {
    text-align: center;
    
}

button:hover {
    cursor: pointer;
}

#highscores {
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: none;
}

.timer {
    text-align: center;
    margin-top: 10%;
    
}

.startButton {
    width: 100%;
    text-align: center;
}

.questionContainer {
    width: 60%;
}

.question {
    border: 3px solid red;
    border-radius: 4px;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    
}

.questionSection {
    display: none;
}

.question button {
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}

.inputBox {
    display: flex;
    justify-content: center;
    display: none;
}

#startBtn {
    background-color: rgb(0, 175, 0);
}

#correct {
    display: flex;
    justify-content: center;
    text-align: center;
}

